[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = "*"
"flake8" = "*"

[packages]
ethereum = "==2.3.2"
riemann-tx = ">=1.1.6"
ecdsa = "*"
pycryptodomex = "*"
ipython = "*"
connectrum = "*"
eth-account = "*"

[requires]
python_version = "3.6"
